{% extends "base.html" %}

{% block hero %}
<div class="hero">
    <div class="game-grid md-main__inner">
        <a class="game-card" href="games/squad/">
            <img src="squad/squad-logo.png" alt="Squad logo">
            <h3>Squad</h3>
            <p>Communicate, Coordinate, Conquer.</p>
        </a>

        <a class="game-card" href="games/arma3/">
            <img src="arma3/arma-3-logo.png" alt="ArmA 3 logo">
            <h3>ArmA 3</h3>
            <p>Plan, Adapt, Execute.</p>
        </a>

        <a class="game-card" href="games/arma-reforger/">
            <img src="arma-reforger/arma-reforger-logo.png" alt="ArmA Reforger logo">
            <h3>ArmA Reforger</h3>
            <p>Observe, Coordinate, Advance.</p>
        </a>

        <a class="game-card" href="games/league-of-legends/">
            <img src="league-of-legends/league-of-legends-logo.png" alt="League of Legends logo">
            <h3>League of Legends</h3>
            <p>Push, Pressure, Prevail.</p>
        </a>
    </div>
</div>
{% endblock %}
